
    <H1 style="text-align:center">Bienvenido a Administración de recursos</H1>
    <a class="btn btn-secondary" style="float:left" href="../Home"> << Back</a>
<br/>
<br />
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../Producto">Listar Producto</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../Inventario">Listar Inventario</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../Persona">Listar Persona</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../Usuario">Listar Usuario</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../FacturaCabecera">Listar Cabeceras de Factura</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../FacturaDetalle">Listar Detalles de Factura</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../Parametro">Listar Parametro</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../DetalleParametro">Listar Detalles de Parametro</a>
</p>
<p style="text-align:center">
    <a style="width:300px" class="btn btn-success" href="../Pqrs">Listar Pqrs</a>
</p>