<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Simpo</title>
    <link rel="shortcut icon" href="img/Logo Empresa.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="contenedor">
        <header class="Encabezado row">
            <div class="logo col-xs-12 col-sm-12 col-md-3 txtCentrado ">
                <img src="img/Logo Empresa.png" style="margin-top: 15px;margin-bottom: 15px;">
            </div>

            <div class=" titulo  col-md-9 col-sm-12 col-xs-12" style="padding:0px">
                <div class="short-div">
                    <div class="titulo txtCentrado" style="width: 100%">
                        <h1 style="width: 100%">El Triunfo</h1>
                    </div>
                </div>
                <div class="short-div">
                    <nav>
                        <div class="navegación txtCentrado">
                            <ul style="margin: 0px;padding: 5px;">
                                <li><a href="Home">Inicio</a></li>
                                <li><a href="Home/Productos">Productos</a></li>
                                <li><a href="html/Quienes-Somos.html">Quienes Somos</a></li>
                                <li><a href="html/Contáctenos.html">Contáctenos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>


    <div class="contenedor ">
        <section class="main row fondo">
            <div class="ingreso col-xs-12 col-sm-4 col-md-6 col-lg-3">
                <h1>Ingreso</h1>
                <ul>
                    <li><a href="html/Ingresar.html">Ingresar</a></li>
                    <li><a href="html/Registrarse.html">Registrarse</a></li>
                </ul>
                <h1>Productos en Descuento</h1>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/imagen 1.png" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="img/imagen 2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/imagen 3.png" class="d-block w-100" alt="...">
                        </div><div class="carousel-item">
                            <img src="img/imagen 4.png" class="d-block w-100" alt="...">
                        </div><div class="carousel-item">
                            <img src="img/imagen 6.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </section>
    </div>
    <div class="contenedor">
        <footer class="pie row">
            <h3>Simpo</h3>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>