@model Triunfo.Core.Domain.Parametro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Parametro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionParametro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionParametro)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdParametro">Edit</a> |
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
